<div id="main">
  <!-- TOOLBAR: Above -->
  <div id="container-1" class="container">
    <ng-container *ngIf="config.layout.navbar.position === 'left'">
      <ng-container *ngTemplateOutlet="leftNavbar"></ng-container>
    </ng-container>
    <div id="container-2" class="container">
      <!-- TOOLBAR: Below fixed -->
      <toolbar></toolbar>
      <div id="container-3">
        <!-- CONTENT -->
        <content></content>
        <!-- / CONTENT -->
      </div>
    </div>
  </div>

</div>

<ng-template #leftNavbar>
  <pulse-panel name="navbar" class="navbar-pulse-panel" [folded]="config.layout.navbar.folded" lockedOpen="gt-md"
    *ngIf="!config.layout.navbar.hidden">
    <navbar [variant]="config.layout.navbar.variant"></navbar>
  </pulse-panel>
</ng-template>