<div id="main">
  <!-- TOOLBAR: Above -->
  <div id="container-1" class="container">
    <ng-container *ngIf="config.layout.navbar.position === 'left'">
      <ng-container *ngTemplateOutlet="leftNavbar"></ng-container>
    </ng-container>
    <div id="container-2" class="container">
      <!-- TOOLBAR: Below fixed -->
      <div id="container-3" class="container">
        <!-- CONTENT -->
        <content></content>
        <!-- / CONTENT -->
      </div>
    </div>
  </div>

</div>

<ng-template #leftNavbar>
  <pulse-sidebar name="navbar" class="navbar-fuse-sidebar" [folded]="config.layout.navbar.folded" lockedOpen="gt-md"
    *ngIf="!config.layout.navbar.hidden">
    <div>Sidebar</div>
  </pulse-sidebar>
</ng-template>